Package: com.greyd00r.mercuryGUI
Name: Mercury Updater GUI
Depends: 
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome application!
Maintainer: Grayd00r
Author: Grayd00r
Section: Utilities
